.swiper {
  &-slide {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }

  &-btn {
    position: absolute;
    top: 40%;
    z-index: 10;
    width: 50px;
    height: 90px;
    background: url(../img/svg/arrow.svg) center center no-repeat, #fff;
    cursor: pointer;

    @include tablet {
      top: 26%;
    }

    @include mobile {
      display: none;
    }
  }

  &-button-disabled {
    border: 1px solid #e0e0e0;
    background: url(../img/svg/arrow.svg) center center no-repeat, transparent;
  }
}
