<section class="about">
  <div class="about__container">
    <div class="about__pannel container-small swiper about__pannel-swiper">
      <ul class="about__list list-reset swiper-wrapper">
        <li class="about__item swiper-slide">
          <svg class="about__icon">
            <use xlink:href="img/sprite.svg#dev"></use>
          </svg>
          <h3 class="about__subtitle">Развитие</h3>
        </li>
        <li class="about__item swiper-slide">
          <svg class="about__icon">
            <use xlink:href="img/sprite.svg#edu"></use>
          </svg>
          <h3 class="about__subtitle">Обучение</h3>
        </li>
        <li class="about__item swiper-slide">
          <svg class="about__icon">
            <use xlink:href="img/sprite.svg#resp"></use>
          </svg>
          <h3 class="about__subtitle">Ответсвенность</h3>
        </li>
        <li class="about__item swiper-slide current-item">
          <svg class="about__icon about__icon_fill" width="95" height="59" viewBox="0 0 95 59" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2 56.9999L34.811 24.6774C35.1945 24.2996 35.8082 24.2932 36.1995 24.6629L52.5049 40.0683C52.8894 40.4316 53.4903 40.4326 53.876 40.0706L71 23.9999"
              stroke="#4f4f4f" stroke-width="3" />
            <path d="M64.0626 17.2238L82.2372 11.7468L77.8931 30.2249L64.0626 17.2238Z" stroke="#4f4f4f"
              stroke-width="3" />
          </svg>
          <h3 class="about__subtitle">Динамика</h3>
          <p class="about__item-descriptions ">Общего центра обслуживания. Современные технологии, проекты,
            рабочие
            группы</p>
        </li>
        <li class="about__item swiper-slide">
          <svg class="about__icon">
            <use xlink:href="img/sprite.svg#com"></use>
          </svg>
          <h3 class="about__subtitle">Комфорт</h3>
        </li>
        <li class="about__item swiper-slide">
          <svg class="about__icon">
            <use xlink:href="img/sprite.svg#sec"></use>
          </svg>
          <h3 class="about__subtitle">Надежность</h3>
        </li>
      </ul>
      <div class="about__pannel-swiper-pagination"></div>
    </div>

    <div class="swiper about__swiper container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="about__swiper-content">
            <div class="about__swiper-text">
              <h4 class="about__swiper-title">Евдокимова Майя</h4>
              <span class="about__swiper-subtitle">Генеральный директор</span>
              <p class="about__swiper-description">Цель нашей работы обеспечить высочайший сервис нашим клиентам. Дать
                возможность бизнесу сосредоточиться на своих
                ключевых задачах, передав функции управления персоналом, казначейства, финансового учёта и отчётности
                нам.
              </p>
            </div>
            <picture>
              <source srcset="img/director.webp" type="image/webp">
              <img loading="lazy" src="img/director.png" class="image about__swiper-photo" width="460" height="546"
                alt="Генеральный директор Евдокимова Майя">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about__swiper-content">
            <div class="about__swiper-text">
              <h4 class="about__swiper-title">Lorem</h4>
              <span class="about__swiper-subtitle">Lorem ipsum</span>
              <p class="about__swiper-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non
                laudantium maxime nemo eligendi. Sint doloremque, quos tenetur eveniet est odio, vero accusantium
                consequuntur id sequi aspernatur earum distinctio repudiandae soluta?
              </p>
            </div>
            <picture>
              <source srcset="img/director.webp" type="image/webp">
              <img loading="lazy" src="img/director.png" class="image about__swiper-photo" width="460" height="546"
                alt="Генеральный директор Евдокимова Майя">
            </picture>
          </div>
        </div>
      </div>
      <div class="about__swiper-button-prev swiper-btn">
      </div>
      <div class="about__swiper-button-next swiper-btn">
      </div>
      <div class="about__swiper-pagination"></div>
    </div>
  </div>
</section>