<header class="header">
  <div class="container-small header__container">
    <a href="#" class="header__logo">
      <img src="img/logo.svg" alt="Логотип">
    </a>
    <nav class="nav header__nav" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Наши ценности</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Вакансии</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Начало карьеры</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        <li class="nav__item">
          <div class="header__contacts">
            <span class="header__contatcs-title">Социальные сети</span>
            <ul class="social list-reset visually-hidden header__social" title="Контакты">
              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--vk"
                  aria-label="Наша страничка во Вконтакте">
                  <svg class="social__icon">
                    <use xlink:href="img/sprite.svg#vk"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item"><a href="#" target="_blank" class="social__link social__link--od"
                  aria-label="Наша страничка в Одноклассниках">
                  <svg class="social__icon">
                    <use xlink:href="img/sprite.svg#od"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item"><a href="#" target="_blank" class="social__link social__link--fb"
                  aria-label="Наша страничка в Фейсбук">
                  <svg class="social__icon">
                    <use xlink:href="img/sprite.svg#fb"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item"><a href="#" target="_blank" class="social__link social__link--inst"
                  aria-label="Наша страничка в Инстаграм">
                  <svg class="social__icon">
                    <use xlink:href="img/sprite.svg#inst"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>

    <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
